*.py[co]
__pycache__
*-checkpoint.ipynb
*.vscode
*.log
*.db
*.csv
*.parquet
*.libsvm
*.meta
config.yaml
OpenConfig.yaml
gotify_push.py
cos_config.yaml
**/target
**/Cargo.lock
all_csv.tar.gz
**/.DS_Store
label.png
model.json
test_chan
Chan.egg-info
build
dist
